$border-radius: 0rem !default;
$border-radius-lg: 0rem !default;
$border-radius-sm: 0rem !default;

// colors
$base-dark          : rgba(black, 1);
$softest-dark       : rgba( $base-dark, 0.01 );
$softer-dark        : rgba( $base-dark, 0.05 );
$soft-dark          : rgba( $base-dark, 0.10 );
$default-dark       : rgba( $base-dark, 0.33 );
$hard-dark          : rgba( $base-dark, 0.50 );
$harder-dark        : rgba( $base-dark, 0.85 );
$hardest-dark       : rgba( $base-dark, 0.95 );

$base-light         : rgba(white, 1);
$softest-light      : rgba( $base-light, 0.01 );
$softer-light       : rgba( $base-light, 0.05 );
$soft-light         : rgba( $base-light, 0.10 );
$default-light      : rgba( $base-light, 0.33 );
$hard-light         : rgba( $base-light, 0.50 );
$harder-light       : rgba( $base-light, 0.85 );
$hardest-light      : rgba( $base-light, 0.95 );


$primary            : #4EB793;
$secondary          : #81E0A5;
$complement         : complement($primary);

$dark-bg            : rgba(black,0.9);//#0b172a;
//#013461;
$info               : #88d5bb;  // What's this for?

@import 'bootstrap/scss/bootstrap.scss';
@import 'partials/typography';
@import 'partials/menu';
@import 'partials/footer';
@import 'partials/icons';

#site {
    padding: 0;

    #content {
        padding: 0 1.5rem 0 2.5rem;
        .home-bg {
            background-size     : cover;
            height              : 100vh;
            background-position : 50% 100%;
        }
    }

    &.dark {
        /* Dark Theme */
        background: $dark-bg ;
        &:not(.home) * {
            /* Most overwrites will go here */
            color: $harder-light;
            a {
                color: $primary;
            }
        }      
        #menu * {
            color: $harder-light;
        }
        hr {
            border-top: 1px solid $soft-light;
        }
        .card {
            border: 1px solid $softer-light;
            & .card-header {
                border-bottom: 1px solid $softer-light;
            }
            & .card-footer {
                border-top: 1px solid $softer-light;
            }
            .card-header, .card-footer {
                background: $softest-light;
            }
        }
        .form-control {
            border: 1px solid $soft-light;
            background: $softer-light;
        }
        .jumbotron {
            background: $softest-light;
        }
    }
    &.home {
        #content {
            padding: 0;
        }
        footer {
            display: none;
        }
    }
}



/* Bootstrap Overwrite & Site wide styles */

hr {
    border-top: 1px solid $softer-dark;
}

.btn {
    padding: 0.75rem 1.5rem;
}

.row {
    padding-top: ($spacer * 1.5);
    padding-bottom: ($spacer * 1.5);
}

.lead {
    font-size: 1.625rem;
}

.no-padding {
    padding: 0;
}

.jumbotron {
    background: $softest-dark;
}

.form-control {
    border: 1px solid $soft-dark;
}

.card {
    background: transparent;
    border: 1px solid $softer-dark;
    & .card-header {
        border-bottom: 1px solid $softer-dark;
    }
    & .card-footer {
        border-top: 1px solid $softer-dark;
    }
    .card-header, .card-footer {
        background: $softest-dark;
    }
}
code {
    font-family: Consolas, monospace !important;
    background: rgba($primary, 0.05);
    color: $primary !important;
    padding: 0.25rem;
}
