$border-radius: 0rem !default;
$border-radius-lg: 0rem !default;
$border-radius-sm: 0rem !default;

// colors
$default-grey   : rgba(black, 0.33);
$dark-grey      : rgba(black, 0.66);
$light-grey     : rgba(black, 0.10);
$lighter-grey   : rgba(black, 0.05);
$lightest-grey  : rgba(black, 0.01);

// Dark Theme Colours
$dark-default-grey   : rgba(white, 0.33);
$dark-dark-grey      : rgba(white, 0.66);
$dark-light-grey     : rgba(white, 0.10);
$dark-lighter-grey   : rgba(white, 0.05);
$dark-lightest-grey  : rgba(white, 0.01);


$primary: #bc4123;
$secondary: #fe810d;

$dark-bg            : rgba(black,0.9);//#0b172a;
//#013461;
$info: #88d5bb;

@import 'partials/typography';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  nav {
      width: 100%;
      background: #ddd;
      padding:2rem;
  }
  
  section {
      padding: 2rem;
  }
  
  footer {
      padding: 2rem;
      background: #f4f4f4;
  }