footer {
    background-color: $softest-dark;
    border-top: 1px solid $softer-dark;

    & > .row {

        padding: 2rem 0;
        margin-top: 2rem;        
    }

    & p {
        color: $default-dark;
    }
    & .logo {
        width:3rem;
    }
}

#site {
    &.dark {
        footer {
            background: $soft-dark;
            border-top: 1px solid $softer-light;
        }
    }
}