$menu-icon-button-size : 3rem;

#site {
    .menu-icon-button {
        display     : block;
        height      : $menu-icon-button-size;
        width       : $menu-icon-button-size;
        line-height : $menu-icon-button-size; 
        padding     : 0;
        cursor      : pointer;
        user-select : none;
        outline     : none;
        background  : transparent;
        border      : 0;
        text-align  : center;
        font-size   : 1.5rem;
    }
    #menu {
        .collapse.show, .collapsing {
            box-shadow: 0 0 1rem rgba(darken($primary, 33%), 0.5);
            background: $harder-light;
            backdrop-filter: blur(3px);
        }
        .nav-item {
            max-width:15rem;
        }
    }
    &.home {
        #menu {
            .collapse.show, .collapsing {
                background:$hardest-light;
            }
        }
    }
    &.dark {
        #menu {
            .collapse.show, .collapsing {
                background: $harder-dark;
            }
        }
        &.home {
            #nav-open {
                span, span:before, span:after {
                    background: $harder-dark;
                }
            }
        }   
        #nav-open {
            span, span:before, span:after {
                background: $harder-light;
            }
        }
        #nav-open.true {
            span:before, span:after {
                background: $harder-light;
            }
        } 
        #nav-open.true span {
            background-color: transparent;
        }
    }
}

#nav-open {
    display     : block;
    width       : 3rem;
    height      : 3rem;
    line-height : 3rem;
    text-align  : center;
    cursor      : pointer;
    outline     : none;
    position    : absolute;
    top         : 0;
    left        : 4px;
    span {
        transform: translateX(12px);
        &::before {
            top: -9px;
            transform   : rotate(0);
        }
        &::after {
            bottom: -9px;
            transform: rotate(0);
        }
    }
    span, span::before, span::after {
        cursor: pointer;
        height: 2px;
        width: 26px;
        background: $harder-dark;
        position: absolute;
        display: block;
        content: '';
        transition: all 0.3s ease-in-out;
    }
    &.true {
        span {
            background-color: transparent;
            &::before {
                transform: rotate(45deg);
                transform-origin: top left;
            }
            &::after {
                transform: rotate(-45deg);
                transform-origin: bottom left;
            }
        }
    }
}  